@define-color accent_fg_color {{colors.on_primary_container.default.hex}};
@define-color accent_bg_color {{colors.primary_container.default.hex}};
@define-color accent_color {{colors.primary.default.hex}};
