@define-color surface {{colors.surface.default.hex}};
@define-color on-surface {{colors.on_surface.default.hex}};

@define-color primary {{colors.primary.default.hex}};
@define-color on-primary {{colors.on_primary.default.hex}};
@define-color primary-variant {{colors.tertiary.default.hex}};

@define-color surface-variant {{colors.surface_container.default.hex}};
@define-color surface-shade {{colors.surface_dim.default.hex}};
