@define-color primary {{colors.primary.default.hex}};
@define-color on-primary {{colors.on_primary.default.hex}};

@define-color tertiary {{colors.tertiary.default.hex}};
@define-color on-tertiary {{colors.on_tertiary.default.hex}};
@define-color tertiary-container {{colors.tertiary_container.default.hex}};
@define-color on-tertiary-container {{colors.on_tertiary_container.default.hex}};

@define-color surface {{colors.surface.default.hex}};
@define-color on-surface {{colors.on_surface.default.hex}};
@define-color surface-container {{colors.surface_container.default.hex}};
@define-color surface-dim {{colors.surface_dim.default.hex}};
