@define-color widget {{colors.secondary_container.default.hex}};
@define-color widget-hover {{colors.secondary.default.hex}};
@define-color on-widget {{colors.on_secondary_container.default.hex}};

@define-color primary {{colors.primary.default.hex}};
@define-color on-primary {{colors.on_primary.default.hex}};

@define-color surface {{colors.surface_container.default.hex}};
@define-color menuitem-hover {{colors.tertiary.default.hex}};
@define-color on-menuitem-hover {{colors.on_tertiary.default.hex}};
@define-color on-surface {{colors.on_surface.default.hex}};

@define-color separator {{colors.outline.default.hex}};
