@define-color primary {{colors.primary.default.hex}};
@define-color on-primary {{colors.on_primary.default.hex}};

@define-color secondary {{colors.secondary.default.hex}};
@define-color secondary-container {{colors.secondary_container.default.hex}};
@define-color on-secondary-container {{colors.on_secondary_container.default.hex}};

@define-color tertiary {{colors.tertiary.default.hex}};
@define-color on-tertiary {{colors.on_tertiary.default.hex}};

@define-color surface {{colors.surface_container.default.hex}};
@define-color on-surface {{colors.on_surface.default.hex}};

@define-color outline {{colors.outline.default.hex}};
