@define-color surface #fff8f7;
@define-color on-surface #261819;

@define-color primary #bd0044;
@define-color on-primary #ffffff;
@define-color primary-variant #895031;

@define-color surface-variant #ffe9ea;
@define-color surface-shade #efd4d5;
