@define-color primary #ffb780;
@define-color on-primary #4e2600;

@define-color tertiary #e5c277;
@define-color on-tertiary #3f2e00;
@define-color tertiary-container #5b4301;
@define-color on-tertiary-container #ffdf9d;

@define-color surface #1d1108;
@define-color on-surface #f7dece;
@define-color surface-container #2a1d13;
@define-color surface-dim #1d1108;
