/* @import "/home/xuhan/.cache/wal/colors-swaync.css"; */
@import "colors.css";

* {
  all: unset;
}

:root {
  font-family: "FiraCode Nerd Font", sans-serif;
  font-size: 13px;
}

.control-center {
  border-radius: 16px;
  background-color: alpha(@surface-container, 0.25);
  color: darker(darker(@on-surface));
}

.control-center>viewport>box>box:last-child {
  border-radius: 24px;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
  margin-top: 8px;
  padding: 24px;
  padding-top: 32px;
  background-color: alpha(@surface-dim, 0.3);
}

.widget-title {
  margin-top: 24px;
  font-size: 24px;
}

.widget-inhibitors,
.widget-title,
.widget-dnd,
.widget-mpris {
  margin-bottom: 24px;
  margin-left: 24px;
  margin-right: 24px;
}

.control-center-clear-all {
  padding: 10px 12px;
  border-radius: 500px;
  font-size: 12px;
  background-color: @tertiary;
  color: @on-tertiary;
}

.control-center-clear-all:hover {
  background-color: darker(@tertiary);
}

.control-center-clear-all:active {
  background-color: @tertiary-container;
  color: @on-tertiary-container;
}

.control-center-dnd {
  padding: 3px;
  border-radius: 500px;
  background-color: @surface-container;
  border: 2px solid grey;
}

.control-center-dnd slider {
  min-width: 16px;
  min-height: 16px;
  border-radius: 50%;
  background-color: grey;
}

.control-center-dnd slider:hover {
  background-color: lighter(grey);
}

.control-center-dnd slider:active {
  background-color: grey;
}

.control-center-dnd:checked {
  padding: 5px;
  background-color: @primary;
  border: none;
}

.control-center-dnd:checked slider {
  min-width: 16px;
  min-height: 16px;
  background-color: @on-primary;
}

.control-center-dnd:checked slider:hover {
  background-color: lighter(@on-primary);
}

.control-center-dnd:checked slider:active {
  background-color: darker(@on-primary);
}

.notification-row .close-button {
  margin-top: 8px;
  margin-right: 8px;
}

.notification {
  border-radius: 4px;
  margin-top: 2px;
  margin-bottom: 2px;
  padding: 24px;
  color: darker(darker(@on-surface));
  background-color: @surface;
}

.notification-group:first-child .notification {
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
}

.notification-group:last-child .notification {
  border-bottom-right-radius: 16px;
  border-bottom-left-radius: 16px;
}

.notification-default-action {
  margin-bottom: 16px;
}

.notification-alt-actions {
  margin-left: 48px;
  font-weight: bold;
  color: @primary;
}

.notification-alt-actions button:hover {
  color: darker(@primary);
}

.notification-alt-actions button:active {
  color: darker(darker(@primary));
}

.notification-alt-actions .notification-action {
  margin-right: 16px;
}

.critical.notification {
  color: @on-primary;
  background-color: @primary;
}

.critical .notification-alt-actions button {
  color: @on-primary;
}

.critical .notification-alt-actions button:hover {
  color: darker(@on-primary);
}

.critical .notification-alt-actions button:active {
  color: darker(darker(@on-primary));
}

.notification-content .text-box {
  margin-left: 8px;
}

.notification-content .summary {
  font-weight: bold;
  margin-bottom: 8px;
}

.floating-notifications .notification {
  border-radius: 16px;
}

.mpris-background {
  border-radius: 16px;
}

.widget-mpris-player .mpris-overlay {
  padding: 24px;
  border-radius: 16px;
  background-color: #00000077;
  color: white;
}

.widget-mpris-player .mpris-overlay>.horizontal:first-child {
  margin-bottom: 16px;
}

.widget-mpris-player button {
  padding-left: 8px;
  padding-right: 8px;
}

.widget-mpris-album-art {
  min-width: 72px;
  min-height: 72px;
  border-radius: 16px;
  margin-right: 8px;
}

.widget-mpris-title {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 4px;
}
