* {
  primary-container: #6f3800;
  on-primary-container: #ffdcc4;

  surface: #1d1108;
  on-surface: #f7dece;
  on-surface-variant: #dac2b3;

  window-background: #2a1d1388;
  selected: #e5c27755;
}
