@define-color primary #ffb780;
@define-color on-primary #4e2600;

@define-color secondary #e9bf8f;
@define-color secondary-container #5e411b;
@define-color on-secondary-container #ffddb7;

@define-color tertiary #e5c277;
@define-color on-tertiary #3f2e00;

@define-color surface #1d1108;
@define-color on-surface #f7dece;

@define-color outline #a28d7f;
